/* override the default bootstrap styles with styles
 * that fit our theme instead
 */

.btn-info {
    color: white !important;
    background-color: $accentDarkGreen !important;
    border-color: $accentDarkGreen !important;
}

.btn-primary {
    color: white !important;
    background-color: $accentGray !important;
    border-color: $accentGray !important;
}

.btn-danger {
    color: white !important;
    background-color: #ef4040 !important;
    border-color: #ef4040 !important;
}
