.component__colorTable {
    width: 100%;

    tbody > tr {
        width: 100%;
        background-color: white;
        border: 1px solid lightgray;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }

        td {
            padding: 15px;
        }

        .emptyCell {
            padding: 1px !important;
        }

        .colorTableTitle {
            color: $mainDarkGray;
            font-weight: bold;
        }

        .colorTableDate {
            color: #878787;
        }

        .colorTableArrow {
            color: #bababa;
            display: flex;
            justify-content: flex-end;
        }
    }
}
