#navPane {
    background-color: $mainDarkGray;
    height: 100%;
    position: absolute;
    padding-top: 100px;
    box-shadow: 0px 2px 3px black;

    .navePaneItem {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;

        a {
            color: white;
            text-decoration: none;
        }

        &.activeView {
            border-left: 5px solid $accentLightGreen;
            background-color: $mastDarkGray;
            a {
                color: $accentLightGreen;
            }
        }

        font-size: 18px;
        margin-bottom: 15px;

        .navPaneIcon {
            padding-right: 15px;
        }
    }
}
