#teacherCreateLessonPlansView {
    .container {
        width: 100% !important;
    }

    #column1 {
        height: 100%;
        overflow: scroll;
    }

    #lessonPlanHeader {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
    }

    #pageFooter {
        border-top: 1px solid lightgray;

        .btn {
            float: right;
        }
    }

    .textInputWrapper {
        width: 300px;
    }

    .control-label-titleRight {
        width: 100%;
        text-align: right;
    }

    #teacherLessonPlansDate_group {
        .form-control {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }

    #rightPanelContent {
        background-color: white;
        height: 100%;
        margin-right: -30px;
        margin-top: -10px;
        box-shadow: 0px 2px 3px lightgray;

        .rp__contentItem {
            padding: 10px;
            border-bottom: 1px solid lightgray;
            width: 100%;

            .number {
                color: $accentDarkGreen;
                font-weight: bold;
                font-size: 18px;
                margin-bottom: -5px;
            }

            .title {
                color: $mainDarkGray;
                font-weight: bold;
                text-align: right;
            }

            .type {
                color: $accentDarkGreen;
                text-align: right;

                .typeText {
                    margin-right: 5px;
                }
            }
        }

        #rp__footer {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;

            .btn {
                width: 50%;
                margin: 10px;
            }
        }
    }

    .headerContent {
        color: $mainDarkGray;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid $accentGray;
    }

    .ctCell {
        position: relative;
    }

    .selectedCheck {
        color: $accentDarkGreen;
        font-size: 20px;
        position: relative;
    
        .fa-check-circle-o {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: -10px;
            margin-top: -10px;
        }
    }

    #videoRow {
        display: flex;

        .selectedCheck {
            position: absolute;
            top: 0;
            right: 0;
        }

        .videoTile {
            position: relative;
            margin-right: 20px;

            .header {
                display: flex;
                justify-content: space-between;
            }

            .title {
                color: $mainDarkGray;
            }

            .explicit {
                color: #ff5151;
                border: 1px solid #ff5151;
                border-radius: 3px;
                padding: 3px;
                font-size: 10px;
            }

            .embedVideo {
                width: 200px;
                height: 100px;
                background-color: lightgray;
                border-radius: 3px;
                margin-top: 5px;
            }

            &.highlight {
                opacity: 0.5;
            }
        }
    }

    #interactiveContentRow {
        display: flex;

        position: relative;
        margin-right: 20px;

        .icTile {
            position: relative;
            margin-right: 20px;
            margin-top: 10px;

            &.highlight {
                opacity: 0.5;
            }
        }

        .selectedCheck {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
