/* Global CSS Variables */

$mastDarkGray: #3a3d3f;
$mainDarkGray: #494e51;
$accentGray: #d8d8d8;
$accentDarkGreen: #55a4a4;
$accentLightGreen: #b4e1c0;
$pageBackgroundColor: #f4f4f4;

/* Global css Styles */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Century Gothic, sans-serif;
    background-color: $pageBackgroundColor;
}

/* generic tile */
.tile {
    background-color: white;
    border-radius: 3.0px;
    box-shadow: 0px 0px 10px #2b2b2b;
}

.tileLight {
    background-color: white;
    border-radius: 3.0px;
    box-shadow: 0px 0px 10px lightgray;
    padding: 15px;
}

/* company header */
.headerBold {
    color: white;
    padding-right: 10px;
}

.headerLight {
    font-weight: 100;
    color: $accentLightGreen;
}

/* view content based on nav pane width */
#containerView {
    height: 100%;
    overflow: scroll;

    &.navFull {
        margin-left: 210px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }

    &.navSmall {
        margin-left: 80px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 15px;
    }
}

/* generic page item - every thing on the main view should
 * be wrapped in a page item component so that it inherits
 * the correct styling for the page.
 */
.pageItem {
    padding: 15px;
}

/* generic page header */
.pageHeader {
    color: $mainDarkGray;
    font-size: 20px;
    font-weight: bold;

    &.spaceBeneath {
        margin-bottom: 10px;
    }
}

/* framework css imports */
@import 'components/react-big-calendar.css';

/* Import specific css files */
@import 'views/loginView.scss';
@import 'views/teacherCreateLessonPlansView.scss';
@import 'views/teacherLessonPlanView.scss';

@import 'components/button.scss';
@import 'components/colorTable.scss';
@import 'components/controlInput.scss';
@import 'components/mast.scss';
@import 'components/navPane.scss';
@import 'components/spinner.scss';
